{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Contactos</title>

    <link rel="stylesheet" type="text/css" href="{% static "themeforest-first/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "themeforest-first/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "themeforest-first/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "themeforest-first/css/font.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/fixes.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "kendoui/styles/kendo.common-office365.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "kendoui/styles/kendo.office365.min.css" %}">
</head>
<body>
    <header id="header" class="navbar">
        <a class="navbar-brand" href="#">contactos</a>
    </header>

    <nav id="nav" class="nav-primary hidden-xs nav-vertical">
        <ul class="nav affix-top" data-spy="affix" data-offset-top="50">
            <li><a href="#/calendario"><i class="fa fa-calendar fa-lg"></i><span>Calendario</span></a></li>
            <li><a href="#/contactos"><i class="fa fa-users fa-lg"></i><span>Contactos</span></a></li>
            <li><a href="{% url "usuarios_logout" %}"><i class="fa fa-power-off fa-lg"></i><span>Salir</span></a></li>
        </ul>
    </nav>

    <section id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% block contenido %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="{% static "js/jquery-2.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.subscribe.js" %}"></script>
    <script type="text/javascript" src="{% static "themeforest-first/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "kendoui/js/kendo.all.min.js" %}"></script>
    <script type="text/javascript" src="{% static "kendoui/js/cultures/kendo.culture.es-MX.min.js" %}"></script>

    <script type="text/javascript">
        kendo.culture("es-MX");
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>