{% extends "base.html" %}

{% block contenido %}
<div id="contenedor-layout"></div>
{% endblock %}

{% block scripts %}
<script type="text/x-kendo-template" id="template-layout">
    <div id="contenedor-principal"></div>
</script>

<script type="text/x-kendo-template" id="template-grid-contactos">
    <h4>Contactos</h4>
    <div id="grid-contactos"></div>
</script>

<script type="text/x-kendo-template" id="template-calendario">
    <h4>Calendario</h4>
    <div id="calendario"></div>
</script>

<script type="text/javascript">
    var app = {};
    var url = "/contactos/api/contactos/";
    var urlCitas = "/contactos/api/citas/";
    var Contacto = kendo.data.Model.define({
        id: "id",
        fields: {
            id: { editable: false, type: "number" },
            propietario: { type: "string" },
            nombre: { type: "string", validation: { required: true } },
            apellidos: { type: "string", validation: { required: true } },
            direccion: { type: "string" },
            telefono: { type: "string" },
            fecha_de_nacimiento: { type: "date" },
            sexo: { type: "string", defaultValue: "M" }
        }
    });
    var Cita = {
        id: "id",
        fields: {
            id: { from: "id", type: "number" },
            propietario: { from: "propietario" },
            contacto: { from: "contacto" },
            title: { from: "asunto", defaultValue: "Sin asunto", validation: { required: true } },
            start: { type: "date", from: "inicio" },
            end: { type: "date", from: "fin" },
            isAllDay: { type: "boolean", from: "dia_entero" },
            description: { from: "descripcion" }
        }
    };

    /*
     * Cross Site Request Forgery protection
     * extraído de: https://docs.djangoproject.com/en/1.8/ref/csrf/
     *
     */

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var csrftoken = getCookie('csrftoken');

    $(function () {
        // layout
        app.layout = new kendo.Layout("template-layout", {
            init: function (e) {
                // store a reference to the nav-links element
                app.nav = $('#nav');
            }
        });
        app.layout.render("#contenedor-layout");

        // vistas
        app.vistaContactos = new kendo.View("template-grid-contactos", {
            show: function () {
                kendo.fx(this.element).fade("in").duration(500).play();
            }
        });
        app.vistaCalendario = new kendo.View("template-calendario", {
            show: function () {
                kendo.fx(this.element).fade("in").duration(500).play();
            }
        });

        // router
        app.router = new kendo.Router({
            // http://a.shinynew.me/post/78038782111/a-kendo-ui-aspnet-mvc-spa-template
            routeMissing: function (e) {
                debug.error('No Route Found', e.url);
            },
            change: function (e) {
                // publish an event whenever the route changes
                $.publish('/router/change', [e]);
            }
        });

        // router - raíz
        app.router.route("/", function () {
            app.router.navigate("/calendario");
        });

        // router - contactos
        app.router.route("/contactos", function () {
            app.layout.showIn("#contenedor-principal", app.vistaContactos);

            // crear el grid de contactos si no exista
            if (app.gridContactos == undefined) {
                $("#grid-contactos").kendoGrid({
                    dataSource: {
                        schema: { model: Contacto },
                        transport: {
                            read: url,
                            create: {
                                url: url,
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json"
                            },
                            update: {
                                url: function(modelo) {
                                    return url + modelo.id + "/";
                                },
                                type: "PUT",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json"
                            },
                            destroy: {
                                url: function(modelo) {
                                    return url + modelo.id + "/";
                                },
                                type: "DELETE",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json"
                            },
                            parameterMap: function (model, operation) {
                                if (operation !== "read" && model) {
                                    model.fecha_de_nacimiento = kendo.toString(model.fecha_de_nacimiento, "yyyy-MM-dd");
                                    return kendo.stringify(model);
                                }
                            }
                        }
                    },
                    editable: {
                        mode: "popup",
                        window: { title: "Contacto" }
                    },
                    edit: function (e) {
                        var titulo = "Modificar contacto";
                        if (e.model.isNew()) {
                            titulo = "Nuevo contacto";
                        }
                        e.container.kendoWindow("title", titulo);
                    },
                    selectable: true,
                    toolbar: [{ name: "create", text: "Nuevo" }],
                    height: 550,
                    columns: [
                        { field: "nombre", title: "Nombre", width: 150 },
                        { field: "apellidos", title: "Apellidos", width: 150 },
                        { field: "direccion", title: "Dirección", width: 200 },
                        { field: "telefono", title: "Teléfono", width: 100 },
                        { field: "fecha_de_nacimiento", title: "Fecha de nac.", width: 150, format: "{0:dd/MMM/yyyy}" },
                        { field: "sexo", title: "Sexo", width: 100, values: [{ value: "M", text: "Masculino" }, { value: "F", text: "Femenino" }] },
                        {
                            command: [{
                                name: "edit",
                                text: {
                                    edit: "Modificar",
                                    update: "Guardar",
                                    cancel: "Cancelar"
                                }
                            },
                            { name: "destroy", text: "Borrar" }],
                            title: "&nbsp;", width: "200px"
                        }
                    ]
                });

                app.gridContactos = $("#grid-contactos").data("kendoGrid");
            }
        });

        // router - calendario
        app.router.route("/calendario", function () {
            app.layout.showIn("#contenedor-principal", app.vistaCalendario);

            // crear el calendario si no existe
            if (app.calendario == undefined) {
                $("#calendario").kendoScheduler({
                    editable: true,
                    allDaySlot: true,
                    date: new Date(),
                    workDayStart: new Date("01/01/2014 07:00"),
                    workDayEnd: new Date("01/01/2014 21:00"),
                    showWorkHours: true,
                    height: 550,
                    selectable: true,
                    views: [
                        "day",
                        { type: "week", selected: true },
                        "month",
                        "agenda"
                    ],
                    messages: {
                        today: "Hoy",
                        allDay: "Todo el día",
                        showFullDay: "Mostrar día completo",
                        showWorkDay: "Mostrar horario de trabajo",
                        views: {
                            day: "Día",
                            week: "Semana",
                            workWeek: "Semana laboral",
                            month: "Mes"
                        },
                        deleteWindowTitle: "Eliminar cita",
                        editable: { confirmation: "Eliminar la cita?" },
                        editor: {
                            editorTitle: "Cita",
                            title: "Asunto",
                            start: "Inicio",
                            end: "Fin",
                            allDayEvent: "Día completo",
                            repeat: "Repetir",
                            description: "Descripción"
                        }
                    },
                    dataSource: {
                        transport: {
                            read: urlCitas,
                            create: {
                                url: urlCitas,
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json"
                            },
                            update: {
                                url: function(modelo) {
                                    return urlCitas + modelo.id + "/";
                                },
                                type: "PUT",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json"
                            },
                            destroy: {
                                url: function(modelo) {
                                    return urlCitas + modelo.id + "/";
                                },
                                type: "DELETE",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json"
                            },
                            parameterMap: function (model, operation) {
                                if (operation !== "read" && model) {
                                    return kendo.stringify(model);
                                }
                            }
                        },
                        schema: { model: Cita }
                    }
                });

                app.calendario = $("#calendario").data("kendoScheduler");
            }
        });

        // http://a.shinynew.me/post/78038782111/a-kendo-ui-aspnet-mvc-spa-template
        // when the router change event is published...
        $.subscribe('/router/change', function (e) {
            // select a nav link based on the current route
            var active = app.nav.find('a[href="#' + e.url + '"]').parent();
            // if the nav link exists...
            if (active.length > 0) {
                // remove the active class from all links
                app.nav.find('li').removeClass('active');
                // add the active class to the current link
                active.addClass('active');
            }
        });

        // iniciar con la obtención de rutas
        app.router.start();
    });
</script>
{% endblock %}