{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contactos</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <link rel="stylesheet" type="text/css" href="{% static "themeforest-first/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "themeforest-first/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "themeforest-first/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "themeforest-first/css/font.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/fixes.css" %}">
</head>
<body>
    <!-- header -->
    <header id="header" class="navbar bg bg-black">
        <a href="docs.html" class="btn btn-link pull-right m-t-mini"><i class="fa fa-question fa-lg text-default"></i></a>
        <a class="navbar-brand" href="#">contactos</a>
    </header>
    <!-- / header -->
    <section id="content">
        <div class="main padder">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 m-t-large">
                <section class="panel">
                    <header class="panel-heading text-center">
                        Iniciar sesión
                    </header>
                    <form method="POST" class="panel-body">
                        {% csrf_token %}
                        <div class="block">
                            <label class="control-label">Email</label>
                            <input name="username" type="text" placeholder="test@example.com" class="form-control">
                        </div>
                        <div class="block">
                            <label class="control-label">Password</label>
                            <input name="password" type="password" id="inputPassword" placeholder="Password" class="form-control">
                        </div>
                        <!-- <div class="checkbox">
                            <label>
                                <input type="checkbox"> Keep me logged in
                            </label>
                        </div>
                        <a href="#" class="pull-right m-t-mini"><small>Forgot password?</small></a> -->
                        <button type="submit" class="btn btn-info">Entrar</button>
                        <!-- <div class="line line-dashed"></div>
                        <a href="#" class="btn btn-facebook btn-block m-b-small"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a>
                        <a href="#" class="btn btn-twitter btn-block"><i class="fa fa-twitter pull-left"></i>Sign in with Twitter</a>
                        <div class="line line-dashed"></div>
                        <p class="text-muted text-center"><small>Do not have an account?</small></p>
                        <a href="signup.html" class="btn btn-white btn-block">Create an account</a> -->
                    </form>
                </section>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small>&copy; Contactos</small><br><br>
                <!-- <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a> -->
            </p>
        </div>
    </footer>
</body>
</html>